.sidebar-container {
  background-color: #0f2d6b;
  color: #fff;
  height: 100vh;
  border-radius: 0 20px 20px 0;
}
.sidebar a,
.sidebar span {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 7px 10px;
}
.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.inner-content-container {
  flex: 1;
}
